
<div class="jumbotron">
  <link rel="stylesheet" href="{{base_url()}}/css/jumbotron.css" type="text/css"/>
  <h1>{{ trans('messages.helloworld') }}</h1>
  <p> {{ trans('messages.hellowordText') }}</p>
  <p><a class="btn btn-primary btn-lg" href="{{path_for('info')}}" role="button">{{ trans('messages.learn') }}</a></p>
</div>